.dark-blueBg{
    background-color: #0D1633;
}
.contactbtn:hover{
    background-color: #0D1633;
}
.btnBorder{
    border: 2px solid #0D1633;
    color: #0D1633;
}
.portfoliobtnBg{
    background-color: #119DA4;
    border: 2px solid #119DA4;
}

.portfoliobtnBg:hover{
    color: #119DA4;
}